<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibnia.dashclock.bixi.extension"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- LOGO : https://www.iconfinder.com/icons/175635/bicycle_icon -->
    
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".BixiExtension"
            android:icon="@drawable/ic_launcher"
            android:label="@string/extension_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
            <meta-data
                android:name="settingsActivity"
                android:value=".BixiSettingsActivity" />
        </service>

        <activity
            android:name=".BixiSettingsActivity"
            android:exported="true"
            android:label="@string/title_settings" />
    </application>

</manifest>
